body {
  background-size: cover;
  font-family: Oswald;
  background-color: #182942;
}

ul {
  margin: 0px;
  padding-top: 0px;
  list-style: none;
}

ul li {
  float: left;
  width: 220px;
  height: 60px;
  border-width: thick;
  border-color: red;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
  padding-top: 22px;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  color: red;
}

#TEDxLogo {
  height: 100px;
  width: auto;
  z-index: 10;
}

#PageHeadline {
  background-color: #416999;
  position: fixed;
  margin-top: -15px;
  width: 100%;
  height: 220px;
  margin-left: -8px;
  z-index: 10;
}

#navbar {
  width: 1000px;
  height: 80px;
  border: 1px solid white;
  overflow: visible;
}

#navbar>li {
  width: 180px;
}

li>a {
  display: block;
  color: white;
  line-height: 40px;
  font-family: Jura;
  font-size: 20px;
  text-decoration: none;
}

.section {
  max-width: 4000px;
  margin-right: 250%;
  margin-left: 33%;
  padding: 10% 2%;
}

.grid {
  margin: 12px 0 0 0;
  margin-top: 100px;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.grid: after {
  clear: both;
}

.grid:after, .grid:before {
  content: "";
  display: table;
}

.grid li {
  width: 400px;
  height: 400px;
  display: inline-block;
  margin: 20px;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer nesw-resize;
  border-radius: 0px;
  -webkit-transition: 0.3 ease-in-out, -webkit-transition 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out, -moz-transition 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform: 0.3s ease-in-out;
}

.box:hover {
  transform: scale(1.1);
}

.img-1 {
  background: url("eug.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.img-1:hover {
  background: none;
}

.img-2 {
  background-image: url('steph.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.img-2:hover {
  background: none;
}

.img-3 {
  background-image: url('mia.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.img-3:hover {
  background: none;
}

.img-4 {
  background-image: url('selisa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.img-4:hover {
  background: none;
}

.img-5 {
  background-image: url('kyle.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.img-5:hover {
  background: none;
}

.img-6 {
  background-image: url('sarah.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.img-6:hover {
  background: none;
}

.img-7 {
  background-image: url('kayla.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.img-7:hover {
  background: none;
}

h3 {
  opacity: 1;
  font-size: 30px;
  font-family: Jura;
  color: white;
  z-index: 0;
}

p {
  opacity: 0;
  line-height: 20px;
  color: white;
  font-family: Jura;
  z-index: 0;
  font-size: 14px;
  text-align: justify;
  text-justify: distribute;
}

p:hover {
  opacity: 1;
}
#footer{
  width: 100%;
  height: 3200px;
  color:#182942;
  z-index: -3;
}
