.bg {
  background-color: white;
  height:200px;
  z-index: -2;
}
.apple{
  position: relative;
  left:260px;
  z-index: 1;
}
.face{
  position: fixed;
  bottom:200px;
  z-index: 3;
  left:200px;
}
.box {
  background-color: white;
  height:3000px;
  z-index: -2;
}
